<main class="contenedor">
    <form action="/vacantes/editar/{{vacante.url}}" method="post" class="default-form">
        <h3>Información General</h3>

        <div class="campo">
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" id="titulo" placeholder="Ej: React Developer" value="{{vacante.titulo}}" required>
        </div>

        <div class="campo">
            <label for="empresa">empresa</label>
            <input type="text" name="empresa" id="empresa" placeholder="Escriba el nombre de la empresa" value="{{vacante.empresa}}" required>
        </div>

        <div class="campo">
            <label for="ubicacion">Ubicación</label>
            <input type="text" name="ubicacion" id="ubicacion" placeholder="Ej: Panamá, Rio Abajo o remoto" value="{{vacante.ubicacion}}" required>
        </div>

        <div class="campo">
            <label for="salario">salario (USD)</label>
            <input type="text" name="salario" id="salario" placeholder="En dólares Ej: $500 USD" value="{{vacante.salario}}" required>
        </div>

        <div class="campo">
            <label for="contrato">contrato</label>
            <select name="contrato" id="">
                {{#tipoContrato vacante.contrato}}
                    <option value="" disable selected> -- Selecciona -- </option>
                    <option value="Freelance">Freelance</option>
                    <option value="Tiempo Completo">Tiempo Completo</option>
                    <option value="Medio Tiempo">Medio Tiempo</option>
                    <option value="Por Proyecto">Por Proyecto</option>
                {{/tipoContrato}}
            </select>
        </div>

        <h3>Descripción del Puesto</h3>
        <div class="campo descripcion">
            <label for="">Descripción</label>
            <input type="hidden" name="descripcion" id="x" value="{{{vacante.descripcion}}}" required> {{!-- Para imprimir contenido HTML se colocan entre 3 llaves --}}
            <trix-editor input="x"></trix-editor>
        </div>

        <h3>Conocimientos</h3>
        <ul class="lista-conocimientos">
            {{#seleccionarSkills vacante.skills}}
            {{/seleccionarSkills}}
        </ul>

        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>

        

    </form>
</main>